/* Feedback Section Styling */
.feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  
  .feedback-heading {
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .feedback-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    width: 100%;
  }
  
  .feedback-card {
    background: linear-gradient(90deg, rgba(0,21,52,1) 0%, rgba(1,43,89,1) 50%, rgba(0,29,61,1) 100%);
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .feedback-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  .user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-size: 25px;
    color: #eee;
    margin-bottom: 10px;
  }
  
  .user-feedback {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
  }
  
  .rating i {
    color: #f39c12;
    margin-right: 5px;
  }
  
  @media (max-width: 768px) {
    .feedback-cards {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
  